* {
    font-family: 'Avenir';
  }
  .bubbleWrapper {
      padding: 10px 10px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-self: flex-end;
    color: #fff;
  }
  .inlineContainer {
    display: inline-flex;
  }
  .inlineContainer.own {
    flex-direction: row-reverse;
  }
  .inlineIcon {
    width:20px;
    object-fit: contain;
  }
  .ownBubble {
      min-width: 60px;
      max-width: 700px;
      padding: 14px 18px;
    margin: 6px 8px;
      background-color: #5b5377;
      border-radius: 16px 16px 0 16px;
      border: 1px solid #443f56;
   
  }
  .otherBubble {
      min-width: 60px;
      max-width: 700px;
      padding: 14px 18px;
    margin: 6px 8px;
      background-color: #6C8EA4;
      border-radius: 16px 16px 16px 0;
      border: 1px solid #54788e;
    
  }
  .own {
      align-self: flex-end;
  }
  .other {
      align-self: flex-start;
  }
  span.own,
  span.other{
    font-size: 14px;
    color: grey;
  }


.new-chat input{
    position: fixed;
    bottom: 6px;
    margin-top: 40px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 90%;
    height: 40px;
    border: none;
    display: inline-block;
    color: #999;
    font-weight: 100;
    background: #ddd;
}
.new-chat button{
    position: fixed;
    bottom: 0px;
    left: 640px;
    margin-top: 40px;
    width: 20px;
    height: 30px;
    padding: 0;
    display: inline-block;
    border: none;
    color: #5b5377;
    background: none;
    position: relative;
    top: -3px;
    outline: none;
    cursor: pointer;
}
.new-chat button:active{
    color: blue;
}